/* (-webkit-min-device-pixel-ratio: 2) */
/* (-webkit-min-device-pixel-ratio: 1.5) */

/* Body */

body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: Lucida Sans, Arial;
    font-size: 1.0em;
    font-weight: normal;
    color: #663399;
}

/* Headings/Text */

h1 {
    font-weight: bold;
    font-size: 2.5em;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
}

h3 {
    font-weight: normal;
    font-size: 1.5em;
}

h4 {
    font-weight: normal;
    font-size: 1.0em;
}

.successText {
    font-weight: bold;
    font-size: 2.0em;
    color: red;
}


/* Link coloring */

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #FF0000;
}

a:active {
    color: #FF0000;
}

/* Image resizing and coloring */
.colorStrip {
    display: block;
    width: 100%;
    height: 36px;
    padding: 0;
    margin: 0;
}

.purple {
    background-color: #663399;
}

.cyan {
    background-color: #66CCCC;
}

.green {
    background-color: #33CC33;
}

.orange {
    background-color: #FF9933;
}

/* Menu */

#logo {
    display: inline-block;
    padding: 0;
    max-width: 100%;
}

.menuContainer {
    display: inline-block;
    margin-left: 7%;
}

.menuLogoContainer {
    display: inline-block;
    max-width: 55%;
    padding: auto;
}

.menuButtonContainer {
    display: inline-block;
    text-align: center;
    margin-left: 8.8%;
    margin-top: 5%;
    padding: 0;
}

.menuButton {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    border: 0px;
    padding: 0.3em;
    font-size: 2.6em;
}

#signupButton {
    background-color: #66CCCC;
}

#loginButton {
    background-color: #FF9933;
}

#aboutButton {
    background-color: #33CC33;
}

/* Search button section */

.searchButtonContainer {
    display: inline-block;
    width: 90%;
    height: auto;
    margin: 0 5% 32px;
    padding: 0;
}

.searchButton {
    display: inline-block;
    margin: 2%;
    width: 29%;
    height: auto;
    border: 0px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-align: center;
    font-size: 2.2em;
}

.searchBox {
    margin: 0.25em;
    padding: 0.5em;
}

#viewby {
    background-color: #66CCCC;
}

#category {
    background-color: #33CC33;
}

#latest {
    background-color: #FF9933;
}

/* Card Section */

.cardListContainer {
    display: inline-block;
    width: 90%;
    height: auto;
    margin: 0 5% 0;
    padding: 0;
}

.cardContainer {
    display: inline-block;
    margin: 1.75% 2% 4%;
    padding: 2.5%;
    width: 29%;
    padding-bottom: 25%;
    border: 0px;
    background-color: #66CCCC;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card {
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 1.0em;
    padding: 10%;
}

/* Scroll button section */

.scrollButtonContainer {
    display: inline-block;
    width: 90%;
    height: auto;
    margin: 0 5% 32px;
    padding: 0;
}

.scrollButton {
    display: inline-block;
    margin: 2%;
    width: 29%;
    height: auto;
    border: 0px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-align: center;
    font-size: 2.2em;
}

.scrollBlank {
    display: inline-block;
    margin: 2%;
    width: 29%;
    height: auto;
    border: 0px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-align: center;
}

#previous {
    background-color: #66CCCC;
}

#next {
    background-color: #33CC33;
}

/* Signup */

.ui-scrollpanel {
    border: 0;
    padding: 8px 0;
}

.signupColorLabel {
    display: inline-block;
}

.signupColorLabel input {
    visibility: hidden;
    position: absolute;
}

.signupColorLabel img {
    cursor: pointer;
    border: 2px solid transparent;
}

.signupColorLabel input:checked + img {
    border: 2px solid red;
}

.signupActivityLabel {
    display: inline-block;
}

.signupActivityLabel input {
    visibility: hidden;
    position: absolute;
}

.signupActivityLabel img {
    cursor: pointer;
    border: 2px solid transparent;
}

.signupActivityLabel input:checked + img {
    border: 2px solid red;
}

/* Login */

.loginText {
    font-weight: normal;
    font-size: 1.0em;
}

/* Breakpoint 2: Center logo, header buttons, search buttons, card rows = 2,
                 Remove space between latest and view by box.                 
*/
@media only screen and (max-width: 480px) {
    #logo {
        display: block;
        margin: 2.5% auto 0;
    }
    
    .headerButtonContainer {
        display: inline-block;
        margin: auto;
        display: table;
    }
    
    .cardContainer {
        width: 40%;
        padding-bottom: 50%;
        margin: 3.75% 5% 3.75%;
    }
}