/* (-webkit-min-device-pixel-ratio: 2) */
/* (-webkit-min-device-pixel-ratio: 1.5) */

/* Body */

body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-size: 1.0em;
    font-weight: normal;
}

/* Headings/Text */

h1 {
    font-weight: bold;
    font-size: 2.5em;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
}

h3 {
    font-weight: normal;
    font-size: 1.5em;
}

h4 {
    font-weight: normal;
    font-size: 1.0em;
}

.successText {
    font-weight: bold;
    font-size: 2.0em;
    color: red;
}

/* Header */

#logo {
    display: inline;
    margin: 2.5% 2.5% 0;
    height: 150px;
}

.headerButtonContainer {
    float: right;
    margin: 2.5%;
    padding: auto;
    height: 150px;
}

.headerButton {
    display: inline-block;
    min-width: 125px;
    width: auto;
    min-height: 55px;
    height: auto;
    margin: 0.25em;
    padding: 0.25em;
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.75em;
}

/* Search section */

.searchButtonContainer {
    display: inline-block;
    margin: 5% 5% 0;
}

.searchBox {
    margin: 0.25em;
    padding: 0.5em;
}

#viewby {
    font-weight: bold;
    font-size: 1.0em;
}

#listBox {
    width: 10em;
    height: auto;
    margin: 0.25em;
    font-size: 1.0em;
}

#latest {
    float: right;
    width: 4.5em;
    height: auto;
    margin-left: 3em;
    padding: 0.25em;
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
}

/* Link coloring */

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #FF0000;
}

a:active {
    color: #FF0000;
}

/* Card Section */

.cardListContainer {
    display: inline-block;
    width: 90%;
    height: auto;
    margin: 64px 5% 64px;
    padding: 0;
}

.cardContainer {
    display: inline-block;
    margin: 1.75% 2.5% 1.75%;
    padding: 2.5%;
    width: 20%;
    height: 0;
    padding-bottom: 25%;
    border: 2px solid black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card {
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 1.0em;
    padding: 10%;
}

/* Footer */

#aboutContainer {
    text-align: center;
}

/* Signup */

.ui-scrollpanel {
    border: 0;
    padding: 8px 0;
}

.signupColorLabel {
    display: inline-block;
}

.signupColorLabel input {
    visibility: hidden;
    position: absolute;
}

.signupColorLabel img {
    cursor: pointer;
    border: 2px solid transparent;
}

.signupColorLabel input:checked + img {
    border: 2px solid red;
}

.signupActivityLabel {
    display: inline-block;
}

.signupActivityLabel input {
    visibility: hidden;
    position: absolute;
}

.signupActivityLabel img {
    cursor: pointer;
    border: 2px solid transparent;
}

.signupActivityLabel input:checked + img {
    border: 2px solid red;
}

/* Login */

.loginText {
    font-weight: normal;
    font-size: 1.0em;
}

/* Card Editor */

#editor {
    max-height: 250px;
    height: 250px;
    background-color: white;
    border-collapse: separate; 
    border: 1px solid rgb(204, 204, 204); 
    padding: 4px; 
    box-sizing: content-box; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
}

#voiceBtn {
    width: 20px;
    color: transparent;
    background-color: transparent;
    transform: scale(2.0, 2.0);
    -webkit-transform: scale(2.0, 2.0);
    -moz-transform: scale(2.0, 2.0);
    border: transparent;
    cursor: pointer;
    box-shadow: none;
    -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu a {
    cursor: pointer;
}

/* Breakpoint 1: Move card rows to 3 */
@media only screen and (max-width: 600px) {
    .cardContainer {
        width: 26.664%;
        padding-bottom: 33.3333%;
        margin: 2.5% 3.33% 2.5%;
    }
}

/* Breakpoint 2: Center logo, header buttons, search buttons, card rows = 2,
                 Remove space between latest and view by box.                 
*/
@media only screen and (max-width: 480px) {
    #logo {
        display: block;
        margin: 2.5% auto 0;
        height: 150px;
    }
    
    .headerButtonContainer {
        float: none;
        display: inline-block;
        margin: auto;
        display: table;
    }
    
    .searchButtonContainer {
        float: none;
        display: inline-block;
        margin: auto;
        display: table;
    }
    
    #latest {
        float: none;
        margin-left: 0.25em;
    }
    
    .cardContainer {
        width: 40%;
        padding-bottom: 50%;
        margin: 3.75% 5% 3.75%;
    }
}