/* (-webkit-min-device-pixel-ratio: 2) */
/* (-webkit-min-device-pixel-ratio: 1.5) */

/* Body */

body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: Lucida Sans, Arial;
    font-size: 1.0em;
    font-weight: normal;
    color: #663399;
}

/* Headings/Text */

h1 {
    font-weight: bold;
    font-size: 2.5em;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
}

h3 {
    font-weight: normal;
    font-size: 1.5em;
}

h4 {
    font-weight: normal;
    font-size: 1.0em;
}

.successText {
    font-weight: bold;
    font-size: 2.0em;
    color: red;
}


/* Link coloring */

a:link {
    color: #663399;
    text-decoration: none;
}

a:visited {
    color: #663399;
    text-decoration: none;
}

a:hover {
    color: #663399;
    text-decoration: none;
}

a:active {
    color: #663399;
    text-decoration: none;
}

/* Image resizing and coloring */
.colorStrip {
    display: block;
    width: 92.25%;
    height: 36px;
    padding: 0;
    margin: 0;
}

.purple {
    background-color: #663399;
}

.cyan {
    background-color: #66CCCC;
}

.green {
    background-color: #33CC33;
}

.orange {
    background-color: #FF9933;
}

/* Global dialog settings */

.ui-dialog .ui-dialog-titlebar {
   display: none !important;
}

.ui-dialog-content {
    padding: 0 !important;
}

/* Menu */

#logo {
    display: inline-block;
    padding: 0;
    max-width: 100%;
}

.menuContainer {
    display: inline-block;
    width: 90%;
    height: auto;
    margin: 0 5% 32px;
    padding: 0;
}

.menuLogoContainer {
    display: inline-block;
    width: 61%;
    margin: 0 2.5%;
}

.menuButtonContainer {
    display: inline-block;
    width: 28%;
    margin: 5% 2.5% 0 2.5%;
    padding: 0;
}

.menuButton {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    border: 0px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-align: center;
    font-size: 4.8vw;
}

#signupButton {
    background-color: #66CCCC;
}

#loginButton {
    background-color: #FF9933;
}

#aboutButton {
    background-color: #33CC33;
}

#accountButton {
    background-color: #66CCCC;
    padding-top: 0.6em;
    font-size: 4.1vw;
    padding-bottom: 0.6em;
}

#searchButton {
    background-color: #FF9933;
}

/* Navigate button section */

.viewButtonContainer {
    display: inline-block;
    width: 90%;
    height: auto;
    margin: 0 5% 32px;
    padding: 0;
}

.viewButton {
    display: inline-block;
    margin: 2.5%;
    width: 28%;
    height: auto;
    border: 0px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-align: center;
    font-size: 4.8vw;
}

#viewby {
    background-color: #66CCCC;
}

#category {
    background-color: #33CC33;
}

#latest {
    background-color: #FF9933;
}

/* Card Section */

.cardListContainer {
    display: inline-block;
    width: 90%;
    height: auto;
    margin: 0 5% 0;
    padding: 0;
}

.cardContainer {
    display: inline-block;
    margin: 1.75% 2.5% 4%;
    padding: 2.5%;
    width: 28%;
    padding-bottom: 25%;
    border: 0px;
    background-color: #66CCCC;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card {
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 1.0em;
    padding: 10%;
}

/* Scroll button section */

.scrollButtonContainer {
    display: inline-block;
    width: 90%;
    height: auto;
    margin: 0 5% 32px;
    padding: 0;
}

.scrollButton {
    display: inline-block;
    margin: 2%;
    width: 29%;
    height: auto;
    border: 0px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-align: center;
    font-size: 2.2em;
}

.scrollBlank {
    display: inline-block;
    margin: 2%;
    width: 29%;
    height: auto;
    border: 0px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-align: center;
}

#previous {
    background-color: #66CCCC;
}

#next {
    background-color: #33CC33;
}

/* Signup */

.ui-scrollpanel {
    border: 0;
    padding: 8px 0;
}

.signupColorLabel {
    display: inline-block;
}

.signupColorLabel input {
    visibility: hidden;
    position: absolute;
}

.signupColorLabel img {
    cursor: pointer;
    border: 2px solid transparent;
}

.signupColorLabel input:checked + img {
    border: 2px solid red;
}

.signupActivityLabel {
    display: inline-block;
}

.signupActivityLabel input {
    visibility: hidden;
    position: absolute;
}

.signupActivityLabel img {
    cursor: pointer;
    border: 2px solid transparent;
}

.signupActivityLabel input:checked + img {
    border: 2px solid red;
}

/* Media queries */

@media only screen and (max-width: 480px) {  
    .cardContainer {
        display: inline-block;
        margin: 1.75% 2.5% 4%;
        padding: 2.5%;
        width: 45%;
        padding-bottom: 40.1786%;
        border: 0px;
    }
}