/* (-webkit-min-device-pixel-ratio: 2) */
/* (-webkit-min-device-pixel-ratio: 1.5) */

/* Body */

body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

/* Headings/Text */

h1 {
    font-weight: bold;
    font-size: 2.5em;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
}

h3 {
    font-weight: normal;
    font-size: 1.5em;
}

h4 {
    font-weight: normal;
    font-size: 1.0em;
}

/* Header */

#logo {
    display: inline;
    margin: 2.5% 2.5% 0;
    height: 150px;
}

.headerButtonContainer {
    float: right;
    margin: 2.5%;
    padding: auto;
    height: 150px;
}

.headerButton {
    display: inline-block;
    min-width: 125px;
    width: auto;
    min-height: 55px;
    height: auto;
    margin: 0.25em;
    padding: 0.25em;
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.75em;
}

/* Search section */

.searchButtonContainer {
    display: inline-block;
    margin: 5% 5% 0;
}

.searchBox {
    margin: 0.25em;
    padding: 0.5em;
}

#viewby {
    font-weight: bold;
    font-size: 1.0em;
}

#listBox {
    width: 10em;
    height: auto;
    margin: 0.25em;
    font-size: 1.0em;
}

#latest {
    float: right;
    width: 4.5em;
    height: auto;
    margin-left: 3em;
    padding: 0.25em;
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
}

/* Link coloring */

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #FF0000;
}

a:active {
    color: #FF0000;
}

/* Card Section */

.cardListContainer {
    display: inline-block;
    width: 90%;
    height: auto;
    margin: 64px 5% 64px;
    padding: 0;
}

.cardContainer {
    display: inline-block;
    margin: 1.75% 2.5% 1.75%;
    padding: 2.5%;
    width: 20%;
    height: 0;
    padding-bottom: 25%;
    border: 2px solid black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card {
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 1.0em;
    padding: 10%;
}

/* Footer */

#aboutContainer {
    text-align: center;
}

/* Registration Popups */

.registrationPopup {
    
}

.successText {
    font-weight: bold;
    font-size: 2.0em;
    color: red;
}

/* Signup */

.signupColorRadio input {
    visibility: hidden;
    position: absolute;
}

.signupColorRadio input + label {
    cursor: pointer;
    border: 2px solid transparent;
}

.signupColorRadio input:checked + label {
    border: 2px solid red;
}

.signupColorRadio td:nth-of-type(1) input + label {
    font-weight: bold;
    font-size: 1.5em;
    color: red;
}

.signupColorRadio td:nth-of-type(2) input + label {
    font-weight: bold;
    font-size: 1.5em;
    color: blue;
}

.signupColorRadio td:nth-of-type(3) input + label {
    font-weight: bold;
    font-size: 1.5em;
    color: green;
}

.signupColorRadio td:nth-of-type(4) input + label {
    font-weight: bold;
    font-size: 1.5em;
    color: yellow;
}

.signupColorRadio td:nth-of-type(5) input + label {
    font-weight: bold;
    font-size: 1.5em;
    color: pink;
}

.signupColorRadio td:nth-of-type(6) input + label {
    font-weight: bold;
    font-size: 1.5em;
    color: purple;
}

.signupActivityGrid input {
    visibility: hidden;
    position: absolute;
}

.signupActivityGrid img {
    cursor: pointer;
    border: 2px solid transparent;
}

.signupActivityGrid input:checked + img {
    border: 2px solid red;
}

/* Login */

.loginText {
    font-weight: normal;
    font-size: 1.5em;
}

/* Breakpoint 1: Move card rows to 3 */
@media only screen and (max-width: 600px) {
    .cardContainer {
        width: 26.664%;
        padding-bottom: 33.3333%;
        margin: 2.5% 3.33% 2.5%;
    }
}

/* Breakpoint 2: Center logo, header buttons, search buttons, card rows = 2,
                 Remove space between latest and view by box.                 
*/
@media only screen and (max-width: 480px) {
    #logo {
        display: block;
        margin: 2.5% auto 0;
        height: 150px;
    }
    
    .headerButtonContainer {
        float: none;
        display: inline-block;
        margin: auto;
        display: table;
    }
    
    .searchButtonContainer {
        float: none;
        display: inline-block;
        margin: auto;
        display: table;
    }
    
    #latest {
        float: none;
        margin-left: 0.25em;
    }
    
    .cardContainer {
        width: 40%;
        padding-bottom: 50%;
        margin: 3.75% 5% 3.75%;
    }
}

/* Example Data Table CSS */

/*.card-table {   
    border-collapse: collapse;
}

.card-table-header {
    text-align: center;
    background: none repeat scroll 0 0 #C3C3C3;
    border: 1px solid #000000;
    padding: 2px;
}
 
.card-table-odd-row {
    text-align: center;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
}
 
.card-table-even-row {
    text-align: center;
    background: none repeat scroll 0 0 #ECECEC;
    border: 1px solid #000000;
}

.data_table_embed {
    display: inline;
    width: 50%;
    min-height: 300px;
}*/